/* phần navbar */
nav {
        background-color: rgb(64, 61, 61);
        padding: 10px 0px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav a{
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgb(169, 169, 57);
}

/* phần conten */

.card img {
    width: 100%;
}

.card {
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.btn_detail {
    border: none;
    background-color: black;
    cursor: pointer;
    padding: 3px ;
    margin: 0px;
} 

.btn_detail a {
    text-decoration: none;
    color: white;
}

.btn_detail button {
    border: none;
    background-color: black;
}

/* phần footer */
.footer {
    text-align: center;
    background-color: rgb(233, 191, 64);
    margin: 0px;
    padding: 1px 0px;
}


/* popup */
.overplay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

  .overplay:target {
    visibility: visible;
    opacity: 1;
}

  .popup {
    margin: 70px auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

  .popup img{ width: 100%;}

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

    .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

    .popup .close {color: red;}

    .popup .close:hover {color: #06D85F;}

    .popup .content {
    max-height: 30%;
    overflow: auto;
}
    
